.blog {
  background-color: #20364b;
  padding: 100px 0;
  color: white;
  overflow: hidden;
}
.blog-div {
  width: 80%;
  margin: 20px auto;
  /* border: 3px solid red; */
}
.blog-images {
  height: 200px !important;
  overflow: hidden;
}

@media (max-width: 700px) {
  .blog-div {
    width: 95%;
  }
  .blog-images {
    height: 164px !important;
  }
}
.blog-card {
  width: 100%;
  border: none;
  background-color: #20364b !important;
}
.blog-imagelist {
  width: 97%;
  margin: auto;
  /* border: 3px solid green; */
}
@media (max-width: 500px) {
  .blog-imagelist {
    width: 92%;
    /* height: 180px; */
  }
}
/* .blog-images {
  border: 3px solid blue;
  max-width: 100%;
  height: auto;
  margin-bottom: 26px;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  vertical-align: middle;
} */
.blog-date {
  color: white;
  font-size: small;
}
.heart-white {
  color: white;
}
.heart-red {
  color: red;
}
.filter-button {
  color: #20364b;
  background-color: white;
  width: 80px;
  height: 40px;
  outline: none;
  /* border: none; */
}
.filter-button:hover {
  background-color: white;
  cursor: pointer;
  height: 40px;
  border: 3px solid #20364b;
}
.filter-button-click {
  width: 80px;
  background-color: white;
  cursor: pointer;
  height: 40px;
  border: 3px solid red;
}
.loader {
  width: 100%;
  height: 300px;
  display: flex;
  /* border: 3px solid red; */
  justify-content: center;
}
.main-loader {
  margin: auto;
}
.post-input {
  outline: none;
}
.post-text {
  font-weight: 600;
}
.main-posting-div {
  border: 3px solid silver;
  display: flex;
  padding: 10px;
  border-radius: 3px;
  color: silver;
}
.posting-imgdiv {
  width: 25%;
  border: 3px solid red;
  position: relative;
}
.posting-imgdiv button {
  position: absolute;
  right: -4px;
  cursor: pointer;
  border-radius: 50%;
}
.posting-img {
  width: 100%;
}
