.profile {
  background-color: #20364b;
  padding: 100px 0;
  color: white;
  overflow: hidden;
  /* border: 3px solid green; */
}
.profile-div {
  width: 90%;
  margin: auto;
  /* border: 3px solid white; */
}
.profile-text-header {
  font-size: xx-large;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
}
.profile-image {
  width: 90%;
  height: auto;
  margin-top: -9px;
  margin-bottom: 26px;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  vertical-align: middle;
  z-index: 1;
  /* border: 3px solid blue; */
}
.profile-body {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid red; */
  width: 100%;
}
@media (max-width: 700px) {
  .profile-body {
    display: block;
  }
  .profile-text-subdiv {
    width: 100% !important;
  }
  .profile-image-div {
    display: flex;
    justify-content: center;
    width: 80% !important;
    margin: auto;
  }
  .profile-text-div {
    width: 100% !important;
  }
}
.profile-image-div {
  /* border: 3px solid black; */
  width: 50%;
}
.profile-text-div {
  width: 50%;
  /* border: 3px solid pink; */
}
.profile-text-subdiv {
  /* border: 3px solid yellow; */
  width: 90%;
  margin: 0 auto;
}
.profile-h4 {
  font-size: 30px;
  margin: 0;
}
