/* #58c3db */
.cards-div h5 {
  text-align: center;
  color: #25bcbc;
  font-size: 30px;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto auto auto;
  /* border: 2px solid black; */
  overflow: auto;
  white-space: nowrap;
}
.main-cards {
  text-align: left;
  cursor: pointer;
  display: inline-block;
  height: 120%;
  width: 300px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}
@media (max-width: 770px) {
  .main-cards {
    width: 250px;
  }
  .img {
    width: 250px !important;
  }
}
.a {
  color: #25bcbc;
  text-decoration: none;
  background-color: transparent;
}
.img {
  width: 280px;
  height: auto;
  margin-top: -9px;
  margin-bottom: 26px;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  filter: grayscale(100%);
  vertical-align: middle;
  z-index: 1;
}
.main-cards:hover .img {
  filter: none;
}

.cards-image {
  /* width: fit-content; */
  border: none;
  position: relative;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #25bcbc;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
}

.cards-image:before {
  top: 0;
  transform: skewY(2deg);
  transform-origin: 100% 0;
  background: inherit;
  content: '';
  display: block;
  height: 8%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
.cards-image:after {
  bottom: 0;
  transform: skewY(-2deg);
  transform-origin: 100%;
  background: inherit;
  content: '';
  display: block;
  height: 29%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.card-content {
  margin-top: -10px;
  position: relative;
}
.card-p {
  font-size: 17px;
  color: white;
}
.card-h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  height: 26px;
  font-size: 16px;
  font-weight: normal;
  color: #25bcbc;
  margin-top: 10px !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.card-p2 {
  color: #25bcbc;
  font-weight: bolder;
}
.card-p3 {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  line-height: 16px;
  height: 48px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.showmore-button {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.button1 {
  background-color: #25bcbc !important;
  width: 150px !important;
}
