/* #20364b */

.link,
.link1 {
  color: white;
  text-decoration: none;
}
@media (max-width: 700px) {
  .link1 {
    display: none !important;
  }
}

.nav {
  box-shadow: none !important;
  height: 60px;
  background: #20364b !important;
}

.skewing:after {
  box-shadow: 5vw 0 0 #20364b, -5vw 0 0 #20364b;
  transform-origin: 100% 100%;
  background: #20364b;
  -webkit-transform: rotate(-0.65deg);
  -ms-transform: rotate(-0.65deg);
  -o-transform: rotate(-0.65deg);
  transform: rotate(-0.95deg);
  pointer-events: none;
  height: 70px;
  position: fixed;
  width: 100vw;
  content: ' ';
  z-index: 1;
  bottom: 0;
  left: 0%;
  top: 0%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.drawer {
  display: none !important;
}
@media (max-width: 700px) {
  .drawer {
    display: block !important;
  }
}
